<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.project.wefunk"
    versionCode = "10"
    version     = "1.0.0" >


  <name>WeFunk</name>

  <description>
      University project, experimenting in sound and vision!
  </description>

<platform name="android" />
<icon src="Images/WeFunk-52px.png" platform="ios" width="52" height="52" density="mdpi" />

</widget>
